html {
  /* farvevariabler */
  --green: #cafdbe;
  --pink: #ffb9ef;
  --beige: #ebe5dc;

  /* gapvariabler */
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 4rem;

  background-color: var(--beige);
}

main,
body {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: north;
  src: url(fonte/north_carossela-webfont.woff2);
}
@font-face {
  font-family: apple;
  src: url(fonte/applegaramond-webfont.woff2);
}
@font-face {
  font-family: apple_bold;
  src: url(fonte/applegaramond-bold-webfont.woff2);
}
@font-face {
  font-family: oldnews;
  src: url(fonte/oldnewspapertypes-webfont.woff2);
}

/* generelle fontstørrelse og fonttyper */
h1 {
  font-size: 3rem;
  font-family: north;
}

h2,
h3,
h4,
p {
  font-family: apple, "Times New Roman", Times, serif;
  font-kerning: auto;
}

.titel_col_3 h1 {
  font-size: 2rem;
}

footer h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-family: oldnews, apple, "Times New Roman", Times, serif;
  font-size: 0.8rem;
  line-height: 1rem;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.undertitel {
  font-size: 0.9rem;
  font-kerning: none;
  font-family: oldnews, apple, "Times New Roman", Times, serif;
  opacity: 70%;
}

.puls {
  animation-name: puls_kf;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes puls_kf {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
.website_knap {
  border: double 4px black;
  font-family: apple_bold;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  animation-name: puls_kf;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.website_knap_tema1 {
  border: double 4px black;
  font-family: apple_bold;
  width: 200px;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  animation-name: puls_kf;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/* burgermenu */

.logo {
  font-family: north;
  font-size: 2rem;
}

.banner {
  padding-block: 10px;
  display: flex;
  flex-flow: wrap; /* når der ikke er plads mere - rykker den ned under */
  justify-content: space-between;
  align-items: baseline;
  border-bottom: solid 1px black;
  margin-inline: 10px;

  /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
}

.main-menu {
  font-family: north;
  font-size: 1.5rem;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: var(--space-m);
}

.main-menu a:hover {
  border-bottom: 5px solid var(--green);
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;

  font-size: 2rem;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

/* ---------------forside-------------- */

.grid_col_3 {
  border-inline: solid 1px black;
  padding-inline: 10px;
}

.col_2 {
  border-inline: solid 1px black;
  padding-inline: var(--space-s);
}

.p1 {
  margin-block: var(--space-s);
}
.p2 {
  text-align: center;
  /* border-inline: solid 1px black; */
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: var(--space-s);
}
.p3 {
  padding-top: var(--space-s);
  border-inline: solid 1px black;
  padding-inline: var(--space-s);
}

.col_3 img {
  padding: var(--space-s);
}

.grid_col_3_2 {
  margin-block: var(--space-m);
  padding-block: var(--space-s);
  border-top: double 3px black;
  list-style: none;
  font-family: apple_bold;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  margin-inline: var(--space-s);
}

.grid_col_3_2 ul {
  display: flex;
  align-self: center;
  gap: 3rem;
  font-size: 1rem;
  padding-block: var(--space-m);
  margin-block: var(--space-s);
}

.grid_col_3_2 a:hover {
  border-bottom: 5px solid var(--green);
  font-size: larger;
}

.grid_col_3_2 li {
  border-top: solid 1px black;
  cursor: pointer;
}

.forside_look {
  margin-block: 10px;
  padding-block: var(--space-s);
  padding-inline: 10px;

  max-width: 100%;
}

/* -----------om mig side------------ */
.cv_titel {
  margin-block: var(--space-s);
  padding-inline: 10px;
}

.cv_2 {
  margin-block: var(--space-s);
  padding-inline: var(--space-s);
  border-inline: 1px solid black;
}
.cv_2 h3 {
  margin-bottom: var(--space-s);
}
.cv_3 {
  margin-block: var(--space-m);
  padding-inline: 20px;
  border-inline: 1px solid black;
}
.cv_3 p {
  margin-block: var(--space-s);
}
.uddannelse {
  margin-block: var(--space-s);
  list-style: none;
  border-bottom: 3px double black;
  margin-inline: 10px;
  padding-inline: 20px;
}

.uddannelse h2 {
  margin-bottom: 20px;
}

.uddannelse li {
  margin-right: 20px;
  margin-bottom: 100px;
  font-family: apple_bold;
  font-size: 1.1rem;
  border-top: solid 1px black;
}

.udd_img {
  padding-bottom: 10px;
}

.erfaring {
  margin-block: var(--space-s);
  padding-inline: 10px;
  list-style: none;
  border-bottom: 1px solid black;
}
.erfaring h2 {
  margin-bottom: 20px;
}
.erfaring li {
  margin-right: 20px;
  margin-bottom: 100px;
  font-family: apple_bold;
  font-size: 1.1rem;
  border-top: solid 1px black;
}

.sect_3 {
  margin-block: var(--space-s);
  padding-inline: 10px;
}

.hvem_er {
  margin-block: var(--space-m);
  padding-inline: var(--space-s);
  border-inline: 1px solid black;
}

.hvem_er h2,
.hvem_er h3 {
  padding-bottom: 10px;
}

/* temasider */

/* -------tema 1----------- */

.layout_1_section_1 {
  margin-block: var(--space-s);
  margin-inline: 10px;
  padding-inline: var(--space-s);
  border-inline: 1px solid black;
  border-bottom: 3px double black;
}
.layout_1_section_1 h2 {
  padding-bottom: var(--space-s);
}
.layout_1_section_1 img {
  margin-top: 20px;
  border: solid 6px white;
  box-shadow: 5px 3px 20px 1px grey;
}

.layout_1_section_2 {
  margin-block: 10px;
  border-inline: 1px solid black;
  margin-inline: 10px;
  border-bottom: 3px double black;
}
.layout_1_section_2 h2 {
  margin-inline: 10px;
  margin-bottom: 20px;
}

.layout_1_section_2 .process img {
  border: solid 5px white;
  max-width: 80%;
  margin-inline: 1rem;
}

.process_2 img {
  border: solid 5px white;
  max-width: 80%;
  margin-inline: 1rem;
  margin-bottom: 20px;
}

.refleksion {
  margin-inline: 10px;
  border-inline: solid 1px black;
  padding-inline: var(--space-s);
}

.kompetencer {
  margin-top: 20px;
  margin-inline: 10px;
  padding-inline: var(--space-s);
}

.kompetencer h3 {
  margin-bottom: 20px;
}
.kompetencer ul {
  padding-bottom: 20px;
  font-family: apple_bold;
  font-size: 1.1rem;
  list-style: none;
}
.kompetencer li {
  border-top: solid 1px black;
  margin-block: 50px;
  padding-top: 10px;
  padding-inline: 20px;
}

.video_tema1 {
  margin-inline: 10px;
  padding-inline: var(--space-s);
}
.video_tema1 video {
  max-width: 100%;
  padding-block: 20px;
}
.video_tema1 audio {
  padding-block: 20px;
}

.layout_1_section_2 p {
  margin-inline: 20px;
  margin-bottom: 20px;
}

.process_2 p {
  border-bottom: double 2px black;
  height: 30%;
}

/* -----------Tema 2------------ */
.layout_2_section_1 {
  margin-block: var(--space-s);
  margin-inline: 10px;
  padding-inline: var(--space-s);
  border-inline: 1px solid black;
}

.layout_2_section_1 p,
.layout_2_section_1 h2 {
  margin-bottom: var(--space-s);
}
.layout_2_section_1 .cruise_img {
  border: solid 5px white;
}
.ruleofthirds,
.gomore {
  border: solid 5px white;
}

.kompetencer_2 {
  margin-top: 20px;
  margin-inline: 10px;
  padding-inline: var(--space-s);
}
.kompetencer_2 h3 {
  margin-bottom: 20px;
}
.kompetencer_2 ul {
  padding-bottom: 20px;
  font-family: apple_bold;
  list-style: none;
}
.kompetencer_2 li {
  border-top: solid 1px black;
  margin-block: 50px;
  padding-top: 10px;
  padding-inline: 20px;
}

.refleksion_2 {
  margin-block: var(--space-s);
  padding-inline: var(--space-s);
  border-inline: 1px solid black;
  margin-inline: 10px;
}
.refleksion_2 p {
  margin-bottom: 20px;
}

.quote {
  text-align: center;
  border-inline: solid 1px black;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: var(--space-s);
}

.center_titel {
  text-align: center;
  margin-top: var(--space-s);
  padding-inline: var(--space-s);
  border-inline: 1px solid black;
  margin-inline: 10px;
  margin-bottom: 40px;
}
.center_titel h2,
.center_titel h3 {
  padding-bottom: 10px;
}
.t-shirt_img {
  margin-inline: 20px;
  margin-block: 20px;
}
.t-shirt_img img {
  margin-block: 10px;
  border: 3px solid white;
}

/* tema 5 */
.layout_3_section_1 {
  margin-block: var(--space-s);
  margin-inline: 10px;
  padding-inline: var(--space-s);
  border-inline: 1px solid black;
}
.layout_3_section_1 p {
  margin-block: 10px;
}

.grid_3_3 img {
  margin-bottom: 20px;
}

/* -----------DESKTOP------------ */

@media (min-width: 800px) {
  /* -----------forside------------ */
  .banner {
    margin-inline: 0;
  }

  .col_2 {
    padding-top: var(--space-s);
  }
  .p1 {
    margin-block: 0;
  }
  .p3 {
    text-align: right;
    margin-left: 10px;
    border-inline: 0;
  }

  .grid_col_3_2 ul {
    font-size: 1.3rem;
  }

  /* om mig side */

  .sect_3 {
    padding-inline: 0;
  }
  .cv_titel {
    margin-bottom: var(--space-m);
  }
  .cv_titel img {
    max-width: 95%;
    margin-top: 20px;
  }
  .uddannelse {
    margin-block: 0;
    padding-inline: 0;
    margin-inline: 0;
  }
  .uddannelse li {
    font-size: 1.3rem;
  }

  .erfaring {
    text-align: right;
    margin-left: 20px;
  }

  .erfaring li {
    margin-right: 0;
  }

  /* ----------Layout 1------ */
  .layout_1_section_1 img {
    max-width: 60%;
    margin-left: var(--space-l);
    margin-bottom: var(--space-m);
  }
  .layout_1_section_1 h2,
  .layout_1_section_1 h3,
  .layout_1_section_1 p {
    border-left: solid 1px black;
    padding-left: 20px;
  }
  .layout_1_section_1 p {
    padding-right: 30px;
    padding-bottom: 20px;
  }
  .layout_1_section_1 h2 {
    padding-right: 110px;
  }
  .kompetencer li {
    font-size: 1.3rem;
    margin-bottom: 130px;
  }
  .refleksion p {
    padding-inline: 40px;
    margin-top: 10px;
  }

  .refleksion {
    margin-inline: 0;
  }
  .refleksion_2 {
    margin-inline: 0;
  }

  .video_tema1 {
    margin-top: 20px;
  }
  .process {
    margin-bottom: 20px;
  }
  .center_titel {
    margin-inline: 0;
    padding-inline: 60px;
  }
  .center_titel p {
    padding-block: 10px;
  }

  /* ----------Layout 2------ */

  .layout_1_section_1,
  .layout_2_section_1,
  .layout_1_section_2 {
    margin-inline: 0;
  }

  .layout_2_section_1 h2,
  .layout_2_section_1 p {
    padding-right: var(--space-l);
    border-right: 1px solid black;
  }
  .layout_2_section_1 .cruise_img,
  .ruleofthirds,
  .gomore {
    margin-inline: var(--space-m);
    margin-block: 10px;
    max-width: 90%;
  }
  /* .refleksion_2 {
    margin-inline: 30px;
  } */
  .refleksion_2 p {
    margin-block: 15px;
  }

  /* tema 5 */
  .layout_3_section_1 {
    margin-inline: 0;
  }
  .layout_3_section_1 p {
    padding-right: 20px;
  }
  .grid_3_3 {
    border-left: solid 1px black;
    padding-left: 10px;
    align-content: center;
    display: grid;
  }
}
