html {
  /* farvevariabler */
  --green: #60e042;
  --pink: #ffb9ef;
  --beige: #ebe5dc;

  /* gapvariabler */
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 4rem;

  background-color: var(--beige);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  /* border-top: solid 1px black; */
  margin-top: 10px;
  margin-inline: 20px;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: north;
  src: url(fonte/north_carossela-webfont.woff2);
}
@font-face {
  font-family: apple;
  src: url(fonte/applegaramond-webfont.woff2);
}
@font-face {
  font-family: apple_bold;
  src: url(fonte/applegaramond-bold-webfont.woff2);
}
@font-face {
  font-family: oldnews;
  src: url(fonte/oldnewspapertypes-webfont.woff2);
}

/* generelle fontstørrelse og fonttyper */
h1 {
  font-size: 3rem;
  font-family: north;
}

h2,
h3,
h4,
p {
  font-family: apple, "Times New Roman", Times, serif;
  font-kerning: auto;
}

.titel_col_3 h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-family: oldnews, apple, "Times New Roman", Times, serif;
  font-size: 0.8rem;
  line-height: 1rem;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.undertitel {
  font-size: 0.9rem;
  font-kerning: none;
  font-family: oldnews, apple, "Times New Roman", Times, serif;
}

.website_knap {
  border: double 4px black;
  font-family: apple_bold;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
}

/* burgermenu */

.logo {
  font-family: north;
  font-size: 2rem;
}

.banner {
  padding-block: 10px;
  display: flex;
  flex-flow: wrap; /* når der ikke er plads mere - rykker den ned under */
  justify-content: space-between;
  align-items: baseline;
  border-bottom: solid 1px black;
  margin-inline: 20px;

  /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
}

.main-menu {
  font-family: north;
  font-size: 1.5rem;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: var(--space-m);
}

.main-menu a:hover {
  border-bottom: 5px solid var(--pink);
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;

  font-size: 2rem;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

/* -----------om mig side------------ */
.uddannelse {
  margin-block: var(--space-s);
  padding-inline: 20px;
  border-right: 1px solid black;
  list-style: none;
  border-bottom: 1px solid black;
}

.uddannelse_ul {
  gap: var(--space-l);
}

.erfaring {
  margin-block: var(--space-s);
  padding-inline: 20px;
  border-left: 1px solid black;
  list-style: none;
}

@media (max-width: 1200px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 1200px */
  }

  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}

/* -------forside------- */

.grid_col_3 h2,
.p1 {
  border-inline: solid 1px black;
  padding-inline: 10px;
}

.p1 {
  margin-block: var(--space-s);
}
.p2 {
  margin-block: var(--space-s);
  padding-inline: 10px;
  border-inline: solid 1px black;
}
.p3 {
  margin-block: var(--space-s);
  padding-inline: 10px;
  border-inline: solid 1px black;
  text-align: right;
}
.grid_col_3 div {
  padding-bottom: var(--space-s);
}

.grid_col_3_2 {
  margin-top: var(--space-m);
  padding-block: var(--space-s);
  border-top: solid 1px black;
  list-style: none;
  font-family: apple_bold;
  display: grid;
  margin-bottom: var(--space-l);
}

.grid_col_3_2 ul {
  display: flex;
  gap: 2rem;
  padding-block: var(--space-m);
  margin-bottom: var(--space-s);
}

.grid_col_3_2 li {
  border-top: solid 1px black;

  cursor: pointer;
}

/* temasider */

.grid_col_2 {
  margin-block: var(--space-s);
}
.grid_col_2 h2 {
  padding-bottom: var(--space-s);
}
.grid_col_2 img {
  margin-top: 20px;
}

.grid_col_3_row_2 {
  margin-block: 10px;
}
.grid_col_3_row_2 h2 {
  padding-bottom: 10px;
}

.grid_col_2_row_2 {
  list-style: none;
}
.grid_col_2_row_2 h3 {
  padding-block: 10px;
}
.grid_col_2_row_2 ul {
  padding-bottom: 20px;
  font-family: apple_bold;
}
.grid_col_2_row_2 li {
  border-top: solid 1px black;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-inline: 20px;
}

/* -----------DESKTOP------------ */

@media (min-width: 800px) {
  /* om mig side */
  .erfaring_ul {
    border-left: solid 1px black;
    padding-inline: 20px;
  }
  .erfaring_h2 {
    padding-inline: 20px;
  }

  .hvem_er,
  p {
    padding-right: 10px;
  }
}
